@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #FFFBEA;
  --color-primary-100: #FFF3C4;
  --color-primary-200: #FCE588;
  --color-primary-300: #FADB5F;
  --color-primary-400: #F7C948;
  --color-primary-500: #F0B429;
  --color-primary-600: #DE911D;
  --color-primary-700: #CB6E17;
  --color-primary-800: #B44D12;
  --color-primary-900: #8D2B0B;

  --color-neutral-50: #FAF9F7;
  --color-neutral-100: #F3F1ED;
  --color-neutral-200: #E8E6E1;
  --color-neutral-300: #D3CEC4;
  --color-neutral-400: #B8B2A7;
  --color-neutral-500: #A39E93;
  --color-neutral-600: #857F72;
  --color-neutral-700: #625D52;
  --color-neutral-800: #504A40;
  --color-neutral-900: #27241D;

  --color-primary: #1A1A1A;
  --color-secondary: #272727;
  --color-primary2: #212121;
  --color-accent: #737373;
  --color-primary-bright: #A81B1B;
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}